# Folders
data_fastq/
original/
raw_data/
renamed/
testing/
stripped/
ccslength/
labeled/
ccsLength/
sortbyLength/
sortbyLength_1416K/

# just for now
pipeline/

# Files
pipeline/slurm-*
code/primerStrip.sb
