# Folders
data_fastq/
original/
raw_data/
renamed/
testing/
stripped/
ccslength/
labeled/
ccsLength/
sortbyLength/
extracted_bash/
asv_unoise3/


# just for now
pipeline/

# Files
pipeline/slurm-*
code/primerStrip.sb
